<nav class="menu">
	<ul class="list">
	    <li><a routerLink="/home" >🏠 Home</a></li>
	    <li><a routerLink="/Biodata" >👨🏻‍💻 Biodata</a></li>
	    <li><a routerLink="/Education" >📚 Education</a></li>
	    <li><a routerLink="/Experience" >👨🏻‍💼 Experience</a></li>
	    <li><a routerLink="/Skill">🎯 Skill</a></li>
	    <li><a routerLink="/Hobbies">⚽️ Hobbies</a></li>
	    <li><a routerLink="/Life-Long-Learning">📖 Life-long Learning</a></li>
	    <li><a routerLink="/Contact">📞 Contact</a></li>
	</ul>
</nav>
