<div class="data">
	<div class="head">
	    <i class="las la-address-book"></i>
	    <h1 id="Contact">&ensp; CONTACT</h1>
	</div>
	<div class="info">
	    <div class="containforcontact">
		<div class="icons"><img src="https://img.icons8.com/doodle/48/000000/address.png"/></div>
		<div>Address</div>
		<div>:</div>
		<div>{{ contact.address }}</div>
		<div class="icons"><img src="https://img.icons8.com/doodle/48/000000/phone.png"/></div>
		<div>Phone</div>
		<div>:</div>
		<div>{{ contact.phone }}</div>
		<div class="icons"><img src="https://img.icons8.com/doodle/48/000000/facebook-new.png"/></div>
		<div>Faceboook</div>
		<div>:</div>
		<div><a href="https://www.facebook.com/newbieoffreak">{{ contact.facebook }}</a></div>
		<div class="icons"><img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/></div>
		<div>Linkedin</div>
		<div>:</div>
		<div><a href="https://www.linkedin.com/in/sarawut-kengkan-a398771a8/">{{ contact.linkedin }}</a></div>
		<div class="icons"><img src="https://img.icons8.com/doodle/48/000000/github--v1.png"/></div>
		<div>GitHub</div>
		<div>:</div>
		<div><a href="https://github.com/Sarawut-keng">{{ contact.github }}</a></div>
		<div class="icons"><img src="https://img.icons8.com/doodle/48/000000/email--v1.png"/></div>
		<div>Email</div>
		<div>:</div>
		<div>{{ contact.email }}</div>
	    </div>
	    <div style="text-align: center;">
		<img src="./assets/image/lineme.JPG" alt="line" style="width: 30%; padding-top: 3em; padding-bottom: 3em;">
	    </div>
	</div>
    </div>