<div class="data">
	<div class="head">
	    <i class="las la-briefcase" style="color: lightgreen;"></i>
	    <h1 id="Experience" style="color: lightgreen;">&ensp; EXPERIENCE</h1>
	</div>
	<div class="info">
	    <h3 style="color: lightgreen;">{{ exp[0].name }}</h3>
	    <ul>
		<li>{{ exp[0].detail }}</li>
	    </ul>
	    <h3 style="color: lightgreen;">{{ exp[1].name }}</h3>
	    <ul>
		<li>
			{{ exp[1].detail }}
		</li>
	    </ul>
	    <h3 style="color: lightgreen;">{{ exp[2].name }}</h3>
	    <ul>
		<li>
			{{ exp[2].detail }}
		</li>
	    </ul>
	</div>
</div>
