<div class="data">
	<div class="head">
	    <i class="las la-graduation-cap" style="color: palevioletred;"></i>
	    <h1 id="Education" style="color: palevioletred;">&ensp; EDUCATION</h1>
	</div>
	<div class="info">
	    <div class="education">
		<div class="ppk">
		    <img class="pkk-box" src="./assets/image/ppk.png" alt="ppk" style="width: 20%; height: auto;">
		    <h3 style="color: palevioletred;">{{ ppk.name }}</h3>
		    <p class="pkk-box" >{{ ppk.year }}<br>{{ ppk.program }}<br></p>
		</div>
		<div class="edu-break">
		    <div style="width: 50%; height: 100%; float: left; border-right: 2px solid seashell; opacity:50%;"></div>
		    <div style="width: 50%; height: 100%;"></div>
		</div>
		<div class="econ">
		    <img src="./assets/image/econ.png" alt="economics" style="width: 20%; height: auto;">
		    <h3><b style="color: palevioletred;">{{ cmu.name }}</b></h3>
		    <p>{{ cmu.year }}<br>{{ cmu.program }}<br></p>
		</div>
	    </div>
	</div>
</div>