<div class="data">
	<div class="head">
	    <i class="las la-school" style="color: yellow;"></i>
	    <h1 id="Life-long Learning" style="color: yellow;">&ensp; LIFE-LONG LEARNING</h1>
	</div>
	<div class="info">
	    <p> &nbsp; &nbsp; {{ lifeLong.description }}</p>
	    <div class="TheContainer">
		<div><img src="./assets/image/cer2.png" alt="certificate"></div>
		<div><img src="./assets/image/cer3.png" alt="certificate"></div>
		<div><img src="./assets/image/cer4.png" alt="certificate"></div>
		<div><img src="./assets/image/cer5.png" alt="certificate"></div>
		<div><img src="./assets/image/cer6.png" alt="certificate"></div>
		<div><img src="./assets/image/cer7.png" alt="certificate"></div>
		<div style="font-size: 40px;">🔥</div>
		<div><img src="./assets/image/cer8.png" alt="certificate"></div>
		<div style="font-size: 40px;">🔥</div>
	    </div>
	</div>
    </div>
